//默认样式覆盖
body {
  //font-size:20rem;
}


.home  img{transform: scale(.8)!important;   transition: all 1s!important;;}
.home  img:hover{transform: scale(1)!important; transition: all 2s!important;}

.navbar{padding-top:0.1rem !important;}
.navbar .logo {  min-width:3.4rem !important;height:3.4rem !important;}
.navbar .site-name{padding-top:0.68rem;font-weight:100 !important;}

